.patcard {
    font-family: sans-serif;
    font-size: 21px;
    letter-spacing: 2.2px;
    color: #47525E;
}

.cancel
{
    font-family: sans-serif;
    color: #434c4e;
    background: #fffecb;
    letter-spacing: 0.13em;

}